.mainbox {
  display: flex;
}
.icons{
  color: #787878;
  margin-block: auto;

}
.icondiv{
  margin-top: 8px;
  cursor: pointer;
}

.line{
height: 1px;
background-color: #a7b7c3;
}

.opt {
  background: white;
  width: 77px;
  position: relative;
  padding: 13px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
  border-radius: 7px;
  bottom: 89px;
  left: 145px;
  visibility: hidden;
}

.visible{
  visibility: visible;
}
.black{
  color: black;
}
.data {
  background-color: white;
  height: 230px;
  width: 260px;
  padding-left: 1px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
  transition: all 0.3s linear;
  border-radius: 8px;
}
.footer{
  margin-left: 10px;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

.box {
  background-color: white;
  height: 230px;
  width: 260px;
  padding-left: 1px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
  transition: all 0.3s linear;
  border-radius: 8px;
}

.paradiv {
  width: 250px;
  height: 129px;
}
.description {
  word-wrap: break-word;
  height: 125px;
  width: 273px;
  overflow-y: scroll;
}
.description::-webkit-scrollbar{
  -webkit-appearance: none;
}

.add {
  font-size: 40px;
  margin-top: 20px;
  padding-top: 47px;
}

body {
  background-color: #ededf7;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.add {
  cursor: pointer;
}

.boxes {
  margin-top: 14px;
  display: flex;
  margin-left: 11px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20%;
  height: 224px;


}


.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 10;
}

.container {
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
  background: #fff;
  border-radius: 0.5rem;
  width: 30%;
  height: 330px;
  /* max-width: 620px; */
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
}

input.title {
  height: 28px;
  width: 260px;
}

/* input.decription {
  height: 66px;
  width: 260px;
} */
.more:active + .opt{
  visibility: visible;
}
.submit{
  background: blue;
  border: none;
  outline: none;
  width: 270px;
  height: 30px;
  color: white;
  border-radius: 3px;
}
label{
  font-weight: bold ;
}
.container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainbox{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.adding{
  display: flex;
  justify-content: center;
}
.box p{
  text-align: center;
}
.data h3{
  padding-left: 10px;
}


body{
  background-color: rgb(111, 152, 255);
}


.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}